.black{
    margin-top: -990px;
}
.right{
    margin-left: 450px;
    font-size: 65px;
}
.white{
    margin-top: -50px;
    margin-left:360px ;
    font-size: 180px;
}
.burger{
    margin-left: 300px;
    margin-top: -200px;
}
.btn{
   margin-left: -490px;
   margin-top: 70px;
   height: 70px;
   width: 160px;
   border-radius: 1000px;
}
.flex{
 margin-left: 730px;
 margin-top:-480px;
}
.div{
    margin-left: 50px;
  
}
.rit{
    margin-left: 650px;
    margin-top: -590px;
}
.ritt{
    margin-left: 650px;
    margin-top: 60px;
}
.rt{
    margin-left: 950px;
    margin-top: -280px;

}
.rtt{
    margin-left: 950px;
    margin-top: -270px;

}
.text{
    margin-left: 900px;
    margin-top: -1100px;
    
}
.top{
    margin-top: -300px;
    margin-left: 50px;
}
.textt{
    margin-left: 260px;
}
.topp{
        margin-left: 600px;
        margin-top: -600px;
}
.op{
    margin-left: 200px;
}
.opp{
    margin-left: 200px;
}
.lg{
    width: 190px;
    border-radius: 10%;
}
.map{
    width: 1500px;
}


